* {
    box-sizing: border-box;
}
body {
    font-family: "Amatic SC", sans-serif;
    color: #03295a;
}
#container {
    text-align: center;
    background-color: rgb(0,119,161);
}
#plan {
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #ff6a77, #e30613);
}
div#plan>p {
    font-family: "Lato, sans-serif";
}
#titleDetails {
    font-family: "Lato", sans-serif;
}